<form [formGroup]="fg">

  <label>
    Video title:
    <input type="text" formControlName="partialTitle">
  </label>

  <div
    class="angryMessage"
    *ngIf="fg.controls.partialTitle?.hasError('minlength')"
  >
    The partial video title must be at least
    {{ partialTitle.errors.minlength.requiredLength }}
    characters long. You only specified
    {{ partialTitle.errors.minlength.actualLength }}
    {{ partialTitle.errors.minlength.actualLength > 1 ? 'characters' : 'character' }},
    and that's just <strong>NOT ENOUGH</strong>.

    <pre>{{ partialTitle.errors | json }}</pre>
  </div>

  <label>
    <input type="checkbox" formControlName="isCaseSensitive">
    Case sensitive?
  </label>

</form>

<hr>

<pre>{{ fg.value | json }}</pre>
