html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.highlighted {
  background-color: yellow;
}

app-video-dashboard {
  display: grid;
  height: 100vh;
  
  grid-gap: 0;

  grid-template:
    "  list                player              filters             " 1fr
    /  minmax(250px, 1fr)  minmax(350px, 3fr)  minmax(250px, 1fr)
  ;
}

app-video-list    { grid-area: list; }
app-video-player  { grid-area: player; }
app-stat-filters  { grid-area: filters; }

app-video-list {
  display: block;
  padding: 10px;
  overflow-y: auto;
  background-color: lightgrey;
}

app-video-player {
  display: block;
  padding: 10px;
}

app-video-player img {
  width: 100%;
}

app-stat-filters {
  display: block;
  padding: 10px;

  label {
    display: block;
    padding-bottom: 20px;
  }

  .angryMessage {
    color: darkred;
    padding-bottom: 20px;
  }
}

app-video-thumbnail {
  display: block;
  background-color: white;
  padding: 15px;
  margin: 15px;
  cursor: pointer;
}

app-video-thumbnail:hover {
  outline: 3px solid green;
}

app-video-thumbnail img {
  width: 100%;
}

/*
app-root,
app-video-list,
app-video-player,
app-video-thumbnail,
app-stat-filters {
  display: block;
  border: 3px solid navy;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
*/


